{% extends 'base.html.twig' %}

{% block body %}

    {{ dump(data) }}

    <table>
    {% for row in data %}
        <tr>
        {% for column in row %}
            <td>{{ column }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>

{% endblock %}